* {
    box-sizing: border-box;
}

.ray-out {
    display: flex;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    border: 1px solid #333;
    width: 800px;
    height: 600px;
    margin-right: 10px;
}

.box-container2 {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    border: 1px solid #333;
    width: 800px;
    height: 600px;
}

.box {
    margin: 10px;
    border: 1px solid #333;
    width: 100px;
    height: 100px;
}

.red-box {
    background-color: red;
}

.blue-box {
    background-color: blue;
}